PRODUCTION=false # set to true in deployment
FRONTEND_ENDPOINT=http://localhost:3001
DB_CONNECTION_STRING=cb.placeholder.cloud.couchbase.com
DB_BUCKET_NAME=eventloop
DB_USERNAME=uname
DB_PASSWORD=pwd
GOOGLE_CLIENT_ID=placeholder.apps.googleusercontent.com
JWT_SECRET=secret
REFRESH_JWT_SECRET= # set another unique secret
QR_SECRET_KEY= # set another unique secret 
